<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type = "com.scit35.saftey.vo.ChatUsers" alias = "ChatUsers" />
		<typeAlias type = "com.scit35.saftey.vo.ChatUsers" alias = "ChatRoom" />
	</typeAliases>

 	<mappers>
 		<mapper resource="mappers/memberMapper.xml"></mapper>
 	</mappers>
</configuration>
